@font-face {
    font-family: 'Source Serif Pro' ;
    src: url('../fonts/SourceSerifPro-Regular.ttf') format("truetype"), local('Source Serif Pro') ;
}


body {
    margin-
    font-family: 'Source Serif Pro', sans-serif;
}

.bg-secondary{
    background-color: #666 !important;
}

/*
.bg-light{
    background-color: #ccc !important;
}
*/

/*Post content */
/*.post {
    border: 1px solid #CCC;
}

*/